html {
  font-size: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  margin-top: 10rem;
  font-size: 8rem;
  text-align: center;
  color: seagreen;
  font-family: "Ubuntu";
}

h2 {
  font-size: 2.4rem;
  color: #444;
  line-height: 0.8;
}

.center-input {
  display: flex;
  justify-content: space-evenly;
}

#task-input {
  padding: 0.8rem 2rem;
  width: 48rem;
  font-size: 1.6rem;
  border: 0.15rem solid seagreen;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: ghostwhite;
}

#task-input:focus {
  outline: none;
}

.add-button {
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
  background-color: white;
  border: 0.15rem solid seagreen;
  border-left: none;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: seagreen;
  position: relative;
  right: 0.4rem;
}

.add-button:focus {
  outline: none;
}

.add-button:hover {
  background-color: seagreen;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

.add-button:active {
  background-color: rgb(33, 100, 62);
}

ul {
  margin-top: 3rem;
  list-style: none;
}

li {
  font-size: 1.6rem;
  position: relative;
  right: 2rem;
  padding: 0.8rem 1rem 0.8rem 2rem;
  border-bottom: 0.1rem solid seagreen;
  margin-top: 1.5rem;
}

input[type="checkbox"] {
  margin-right: 1rem;
  margin-left: 0;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  top: 0.1rem;
}

.checked-task {
  color: grey;
  text-decoration: line-through grey;
}

.close-button {
  border: none;
  background-color: white;
  font-size: 2rem;
  float: right;
  color: seagreen;
}

.close-button:hover {
  background-color: #c24d3e;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

.close-button:focus {
  background-color: #c24d3e;
  color: white;
  outline: none;
}

.close-button:active {
  background-color: #88372c;
}

hr {
  margin: 6rem 0;
}
